:root {
  --default-font-color: #777;
  --color-blue: lighten(#1ba1e2, 10%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--default-font-color);
  font-weight: 300;
  line-height: 1.6;
}
