.app-container {
  height: 100vh;
  display: grid;
}

.game-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-template-columns: minmax(1em, 1fr) repeat(6, 1fr) minmax(1em, 1fr);
  grid-gap: 1em;
}
